.brand-animate {
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;

    transform-origin: 24px 24px;
    -webkit-transform-origin: 24px 24px;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;

    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.pace-running .brand-animate{
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.pace-done .brand-animate{
    opacity: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.addNew1{
  z-index: 1000;
    position: fixed;
    top: 80px;
    right: 0px;
    width: 240px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-radius: 50%;
}


.infoText{
  color: inherit !important;
  opacity: 0.6;
  margin-bottom: 0px !important;
}

.jobs{
  z-index: 1000;
  position: fixed;
  top: 200px;
  right: 20px;
  -webkit-transition: right 0.2s ease;
  transition: right 0.2s ease;
  border: 1px solid rgba(120, 120, 120, 0.1);
  background-clip: padding-box;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border-radius: 50%;
  font-size: 25px;
}
.addNew{
  text-align: right;
  padding: 10px 10px 0px 10px;
}
.headercrumb{
  background-color: #ffffff;
  padding: 0%;
  margin: 0%;
  padding-left: 50px;
}
.smallButton{
  width: 40px !important;
  height: 40px !important;
  line-height: 25px !important;
  z-index: 50;
  left: 5px;
  top: -55px;
}
.Assigned{
  color: red;
  cursor: not-allowed;
}
.Available{
  color: green;
  cursor: pointer;
}
.raisedDate{
  box-shadow: -12px 11px 20px 1px rgba(0, 0, 0, 0.26) !important;
  margin-right:10px; 
}
.noJob{
  background-color: orangered;
  height: 35px;
  line-height: 35px;
  margin-top: 5%;
  width: 40%;
}

.open > .tagSearch{
  display: block;
}

.tagSearch{
    transform-origin: top left;
    position: absolute;
    top: 0%;
    left: 10px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-shadow: -15px 15px 10px 5px rgba(0, 0, 0, 0.15), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.ftid{
  cursor: pointer;
}
.ddFont{
  font-size: 1rem;
  font-weight: 500;
}

.invthis{
  cursor: pointer;
}

.viewTag{
  cursor: pointer;
  text-decoration-line: underline
}

.pointernone{
  pointer-events: none;
}
@media print
{
    .non-printable { display: none; }
    .printable { display: block; }
}


.navbar {
  position: relative;
}
.navbar.clone {
  position:fixed;
  top:-65px;
  left: 0;
  right: 0;
  z-index:999;
  transition:0.4s top cubic-bezier(.3,.73,.3,.74);
}
body.down .navbar.clone {
  top:0;
}

.logo{
  font-family: 'Caveat';
  font-size: 2.5rem;
}

#return-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: black; 
  display: block;
  text-decoration: none; 
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
